[submodule "stubdom/tinyvmi"]
	path = stubdom/tinyvmi
	url = https://github.com/tinyvmi/tinyvmi.git
[submodule "stubdom/tinynet"]
	path = stubdom/tinynet
	url = https://github.com/tinyvmi/tinynet.git
[submodule "extras/mini-os"]
	path = extras/mini-os
	url = https://github.com/tinyvmi/mini-os.git
[submodule "tools/qemu-xen"]
	path = tools/qemu-xen
	url = https://xenbits.xen.org/git-http/qemu-xen.git
